



.projectHeadingStyle {
    font-family: GothamHTFBook, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: 700;
}
.projectCardStyle {
    border-radius:24px;
    box-shadow: 0 8px 12px 6px #00000014, 0 4px 4px #0000001f;
}
.projectCardStyle:hover {
    /* border: 1px solid #D32F2F; */
    box-shadow: 0 5px 19px 12px #d32f2f, 0 4px 4px #fff;
  /* border-color: #D32F2F; */
}
.projectCardStyle:hover .logoIcon {
    /* background-color: #d32f2f; */
    /* rgb(33, 150, 243) */
    color: #d32f2f;
}
.projectCardStyle:hover .linkedIn {
    /* background-color: #d32f2f; */
    /* rgb(33, 150, 243) */
    background: rgb(10, 102, 194);
}

.aboutPara {
    font-family: GothamHTFBook, Helvetica Neue, Helvetica, Arial, sans-serif;
    padding-bottom: 16px;
}