
.projectHeadingStyle {
    font-family: GothamHTFBook, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: 700;
}
.projectCardStyle {
    box-shadow: 0 8px 12px 6px #00000014, 0 4px 4px #0000001f;
}
.projectCardStyle:hover {
    /* border: 1px solid #D32F2F; */
    box-shadow: 0 5px 19px 12px #d32f2f, 0 4px 4px #fff;
  /* border-color: #D32F2F; */
}


.cardContainer {
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 8px 12px 6px rgba(0, 0, 0, .08), 0 4px 4px rgba(0, 0, 0, .12);
}
.cardHeading {
    font-family: GothamHTFBook, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.articlePara {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding-bottom: 16px;
}
.articleParaBox {
    padding-bottom: 16px;
}