@font-face {
  font-family: 'icomoon';
  src:  url('/icomoon/fonts/icomoon.eot?ccocrc');
  src:  url('/icomoon/icomoon.eot?ccocrc#iefix') format('embedded-opentype'),
    url('/icomoon/icomoon.ttf?ccocrc') format('truetype'),
    url('/icomoon/icomoon.woff?ccocrc') format('woff'),
    url('/icomoon/icomoon.svg?ccocrc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gmail:before {
  content: "\e902";
  color: #d14836;
}
.icon-study:before {
  content: "\e900";
}
.icon-graduation:before {
  content: "\e900";
}
.icon-hat:before {
  content: "\e900";
}
.icon-college:before {
  content: "\e900";
}
.icon-home:before {
  content: "\e901";
}
.icon-home2:before {
  content: "\e903";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-user:before {
  content: "\e971";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-embed:before {
  content: "\ea7f";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-google:before {
  content: "\ea88";
}
.icon-google2:before {
  content: "\ea89";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
