@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --box-shadow: 0 5px 19px 12px #d32f2f, 0 4px 4px #fff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.test::before{
  content: "\e900";
  font-family: 'icomoon';
  margin-right: 8px;
  color: #6EE7B7;
}

.slick-list {
    padding: 32px 12px;
}
.slick-arrow {
    display: block;
    left: 0;
    background: black;
    top: -20px;
    right: 100px;
    left: unset;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    opacity: 0.7;
    cursor: pointer;

}
.slick-next {
  right: 40px;
}
.slick-arrow:hover, .slick-arrow:focus {
  opacity: 1;
  background-color: black;
}

.slick-slide {
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.slick-slide:not(.slick-current) {
  filter: brightness(0.5);
}

.slick-slide.slick-current {
  transform: scale(1.32);
  position: relative;
  z-index: 1;
}
.slick-slide.slick-current .bordercolor {
  border: 2px solid #d32f2f;
}

/* Adjacent cards */
.slick-slide.slick-active:not(.slick-center) .slide {
  opacity: 0.7;
}