




.skillsHeadingStyle {
    font-family: GothamHTFBook, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: 700;
}
.skillsCardStyle {
    box-shadow: 0 8px 12px 6px #00000014, 0 4px 4px #0000001f;
}
.skillsCardStyle:hover {
    /* border: 1px solid #D32F2F; */
    box-shadow: 0 5px 19px 12px #d32f2f, 0 4px 4px #fff;
  /* border-color: #D32F2F; */
}